<div class="col-md-8 col-md-offset-2">
  <h1>All recipes</h1>
  <% @recipes.each do |recipe| %>
    <% cache recipe do %>
      <% recipe.name %>
    <% end %>
  <% end %>
  <% cache "recipes" do %>
    <%= render @recipes, cached: true %>
  <% end %>
  <hr>
  <%= link_to "New recipe", new_recipe_path %>
</div>